body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #cacbcc;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    font-size: 14px;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.create {
    background-color: #4caf50;
    color: white;
}

button.create:hover {
    background-color: #45a049;
}

button.delete {
    background-color: #f44336;
    color: rgba(181, 181, 181, 0.84);
}

button.delete:hover {
    background-color: #d32f2f;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

input[type="checkbox"]:checked + .task-title {
    color: #c3d66b;
}
