<!DOCTYPE html>
<html>
<head>
    <title>Minder Task</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Minder Task</h1>
        <form id="create-task-form">
            <input type="text" name="title" placeholder="Nome da tarefa" required>
            <button class="create" type="submit">Criar Task</button>
        </form>
        <ul id="task-list"></ul>
        <button class="delete" id="delete-all">Delete All</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        document.getElementById('delete-all').addEventListener('click', function() {
            var xhr = new XMLHttpRequest();
            xhr.open('DELETE', '/tasks/all');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    alert('All tasks deleted');
                    location.reload();
                } else {
                    alert('Error deleting tasks');
                }
            };
            xhr.send();
        });
    </script>
</body>
</html>

